.content1 h4:hover {
  color: white;
  background-color: rgb(0,105,57);
}

.content1 {
  width:1200px;
  padding: 0px 100px;
}

#kiri {
  float:left;
  background-color: rgb(0,146,63);
  padding: 20px 20px;
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
}

#kanan {
  float: left;
  background-color: rgb(0,105,57);
  padding: 20px 20px;
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.content1 h4 {
  text-align: center;
  width: 110px;
  font-family: 'Roboto', sans-serif;
  padding: 8px 10px;
  background-color: white;
  border-radius: 5px;
  color: black;
}

.img {
 
  margin: center;
  width: 300px;
  
}

#mainbar_berita {
  width:100%;
  padding:20px;
}

.content_berita{
  float: left;
  width: 700px;
  height: 300px;
}

p {
  text-align: left;
}

h2 {
  text-align: left;
}

html {
      height: 100%;
    }
    body {
      background: #f3f3f3;
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
    }
    
    .wrapper {
      height: auto !important;
      height: 100%;
      margin: 0 auto; 
      overflow: hidden;
    }
    
    .page_container {
      max-width: 960px;
      margin: 50px auto;
    }

    .header {
      background: white;
      padding-top: 10px;
      margin-bottom: 0;
    }
    .header h1{
      margin-bottom: 0;
      font-size: 45px;
    }

    .header .menu {
      padding-bottom: 10px;
    }

body {
  background-color: white;
  font-family: Designosaur;
}

#wrapper {
  margin:auto;
  width:1155px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}

ul li {
  display: inline;
}

a {
  font-family: Aller;
  color:white;
  padding-right: 2px;
  padding-left: 2px;
  text-decoration: none;
}

#jarakjudul {
  padding-right: 10px; 
  padding-left: 10px;
}

#menu {
  background-image:url(menu2.png);
}
#menu a:hover {
  color:green;
  background-color:white;
}

.content{
  float: left;
  width: 700px;
  height: 300px;
}

.main {
  float: left;
  width: 700px;
  height: 250px;
  margin: 0 auto;
  background: #161923;
}

#footer{
  width:1145px;
  background-color:none;  
  padding:20px 5px;
  background-position: right;
  background-repeat: no-repeat;
  text-align:center;
}

#sosmed {
  left:0px;
  height:10px;
  width:10px;
}

#sosmed:hover {
  -webkit-filter: brightness(150%); 
}