body{
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:rgba(182, 182, 150, 0.8);;
	margin:0%;
	padding: 0px;  
	box-shadow: 150px 160px 160px 130px rgba(255, 255, 255,0.4) inset; 
}

.body2{
	background-color: white;
}

header{
	height: 100px;
	width: 81.85%;
	margin-top:0%;
	background-color:#6666ff;
	background-image: url("../images/logo.svg");
	background-position: 10px;
	background-size:15%;
	background-repeat:no-repeat;
	padding-left: 245px;
	box-shadow: 0px 0px 60px 30px rgba(0, 0, 0,0.2) inset, 0 1px 0 rgba(255, 255, 255, .2);
	text-shadow : 5px 5px 5px rgba(0,0,0,0.3);
}

.teks_header_berjalan{
	color: white;
	font-family: Meiryo;
	padding: 10px 5px 10px 5px;
	font-size: 60px;
}

.nav {
	width:100%;
	height:40px; 
	line-height:40px; 
	background-color: #1f1f14;
	position:relative;
	margin-top:0%;
	padding: 0%;
	float: left;
	border-bottom: solid 1px #1f1f14;
}

.nav ul {
	list-style:none;
	margin:0%;
}

.nav ul li a {
	width:150px; 
	height: 30px;
	color: white;
	display:block; 
	text-align:center; 
	text-decoration:none; 
	text-transform:uppercase;
	font-family: times;
	font-weight: bold;
	font-size: 16px;
	float:left;
	padding-bottom: 10px;
	font-family: Meiryo;
	transition: .5s background-color;
	border-left: solid 1px #a3a375;
}

.nav2 {
	width:100%;
	height:40px; 
	line-height:40px; 
	background-color: #1f1f14;
	position:relative;
	margin-top:0%;
	padding: 0%;
	float: left;
	border-bottom: solid 1px #1f1f14;
}

.nav2 ul {
	list-style:none;
	margin:0%;
}

.nav2 ul li a {
	width:200px; 
	height: 30px;
	color: white;
	display:block; 
	text-align:center; 
	text-decoration:none; 
	text-transform:uppercase;
	font-family: times;
	font-weight: bold;
	font-size: 16px;
	float:left;
	padding-bottom: 10px;
	font-family: Meiryo;
	transition: .5s background-color;
	border-left: solid 1px #a3a375;
}

a#nav_ujung{
	border-right: solid 1px #a3a375;
}

a#nav_home{
	background-image: url("../images/LogoHome.png");
	background-size: 40%;
	background-repeat: no-repeat;
	background-color: #ffad33;
	background-position: 50%;
	width: 80px;
	box-shadow: 0px 0px 60px 30px rgba(0, 0, 0,0.2) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

a#nav_home:hover{
	background-color:#ebebf9; 
	display:block;
	color:black;
	border-bottom: solid 2px #002133;
}

nav ul li a:hover{
	background-color:#ebebf9; 
	display:block;
	color:black;
	border-bottom: solid 2px #002133;
}

section{
	height: 80px;
	width: 100%;
	margin-top:0%;
	background-color: #ebebe0;
	padding-top: 50px;
	padding-left: 30px; 
	color:black;
	font-family: Calibri;
}

aside{
    float: left;
	width: 25%;
	height: 870px;
	border-bottom: solid #e68a00 50px;
	background-color: #e6e6e6;
}

.aside2 a{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding-top: 30px;
	transition: .5s background-color;
	font-family: Calibri;
	background-color:#1f1f14;
	width: 95%; 
	height: 55px;
	font-size: 20px;
	margin: 3px 3px 3px 5px;
	text-align: center;
	position: relative;
	top:20px;
}

.aside2 a:hover{
	background-color: #6666ff; 
}

form {
    margin: 0;
    padding: 0;
}

.form_pencarian{
	border-style: outset;
	border-width: 1px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 40px;
	background-color: #c2c2a3;
}

.input_pencarian{
	width: 180px;
    height: 15px;
    padding: 10px;
    float: left;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #EEE;
    border-radius: 3px 0 0 3px;
}

.input_pencarian:focus{
    padding: 10px;
    float: left;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #EEE;
    border-radius: 3px 0 0 3px;
    outline: none;
    box-shadow: 0 0 8px #ffad33;
}

.search-wrapper {
    width: 270px;
    height: 30px;
    margin: 10px 0;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 25px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
.cf {
    zoom: 1;
}

.button_search {
  border-radius: 0 5px 5px  0;
  background-color: #6666ff;
  border:solid #6666ff ;
  color: white;
  font:Calibri;
  height: 35px;
  width: 70px;
  float: right;
}

.button_edit_profil{
	position: absolute;
	bottom: 15px;
	left: 130px;
}

.button_edit_profil button{
	background-color: #1f1f14;
	color: white;
	font-style: Calibri;
	border:solid 1px #1f1f14;
	padding: 4px;
}

.button_edit_profil button:hover{
	background-color: #6666ff;
	border:solid 1px #6666ff ;
	cursor: pointer;
}

#list_kategori{
	background-color: #eaeae1;
	width: 95%;
	margin-top: 3%;
	margin-left: 7px;
	padding: 0%;

}

#list_kategori a{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 3px;
	transition: .5s background-color;
	font-family: Calibri;
	background-color:#1f1f14;
	width: 95%; 
	height: 30px;
	font-size: 18px;
	margin: 3px 3px 3px 5px;
	
}

#list_kategori a:hover{
	background-color: #6666ff; 
}

#list_update_event{
	background-color: #eaeae1;
	width: 95%;
	margin-top: 3%;
	margin-left: 7px;
	padding: 0%;

}

#list_update_event a{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 3px;
	transition: .5s background-color;
	font-family: Calibri;
	background-color:#1f1f14;
	width: 95%; 
	height: 30px;
	font-size: 18px;
	margin: 3px 3px 3px 5px;
	
}

#list_update_event a:hover{
	background-color: #6666ff; 
}

.event_header{
	background-color: #4d4dff;
	width: 92%;
	height: 5%;
	margin-top: 5%;
	margin-left: 12px;
	margin-right: 7px;
	color: white ;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	font-family: Calibri;
	border-top: solid #e68a00 10px;

}

.section2{
	height: 40px;
	width: 71%;
	margin-top:0%;
	background-color: white;
	float: right;
	font-family: Calibri;
	font-size: 10px;
	padding: 1.5%;
	color: black;
	font-size: 50px;
	text-shadow : 5px 5px 5px rgba(0,0,0,0.3);
}

.section2 a{
	background-color:#1f1f14 ;
	box-shadow: 0px 0px 60px 30px rgba(0, 0, 0,0.2) inset, 0 1px 0 rgba(255, 255, 255, .2);
	position: relative;
	top: 52px;
	float: right;
	margin-right: 100px;
	width: 300px;
	height: 30px;
	font-size: 21px;
	text-decoration: none;
	color: white;
	font-style: Calibri;
	padding: 2px;
	padding-left: 25px;
}

.section2 a:hover{
	background-color: #6666ff;;
	box-shadow: 0px 0px 60px 30px rgba(0, 0, 0,0.2) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

.content{
	background-color: rgba(255, 255, 255, 0.95);
	padding: 2%;
	width: 71%;
	height: 1600px;
	margin-left:25%;
	margin-right: 0%;
	margin-top: 0%;
	
}
.slider{
	padding:1%;
	width: 90%;
	margin-left: 3.5%;
	margin-top: 13%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

}

.slider h2{
	background-color: #e68a00;
	margin-bottom: 0%;
	font-family: Calibri;
	text-shadow : 5px 5px 5px rgba(0,0,0,0.3);
	text-align: center;
	width: 200px;
}

.easyslider-wrapper { 
    width: auto; 
    float: left; 
    position: relative; 
    padding-right: 2%; 
    padding-top: 10px; 

    }
.easyslider { 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    height: 500px; 
    background: #eee; 
    }
.image_reel { 
    position: absolute; 
    top: 0; 
    left: 0; 
    }
.image_reel img { 
    float: left; 
    width: 20%; 
    height: 500px;
    }

.paging { 
    background: rgba(61, 61, 41, 0.6); 
    border-radius: 10px;
    position: absolute; 
    bottom: 15px; 
    right: 20px; 
    padding:4px 0 2px 0; 
    z-index: 1; 
    display: none; 
    }

.paging a { 
    margin: 3px; 
    background: #fff; 
    width: 10px; 
    height:10px; 
    display: inline-block; 
    border: none; 
    outline: none;
    border-radius: 100%;
    }
.paging a.active { 
    background: #003366; 
    border: 1px solid #003366; 
    }
.paging a:hover { }

.easytitledes { 
    width:70%; 
    display: none; 
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    z-index: 101; 
    background: #000A3F;
    background: rgba(255, 255, 255, 0.6); 
    padding: 10px 15px; 
    }
.easytitledes a { 
    color:black; 
    font: 14px sans-serif; 
    text-transform: uppercase; 
    font-weight: bold; 
    }
.easytitledes a:hover { 
    color:#003366; 
    }
.easytitledes p { 
    color: black; 
    font: 12px Arial; 
    font-weight: bold;
    }

#kotak{
    width: 620px;
    height: 270px; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    background: #1f1f14;	
    font: bold 16px arial, sans-serif;
    padding: 20px;
}

#atas{
    height: 35px;
    width: 520px;
    text-align: center;
    font-size: 15pt;
    padding-top:20px;
	font: bold 22px arial, sans-serif;
	color: white;
}

#bawah{
	text-align: center;
    height: 200px;
    width: 520px;
}

.masuk{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    font-size: 12pt;
    border: 1px solid #ffad33;
    padding-left:10px;
}

.masuk:focus{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    font-size: 12pt;
    padding-left:10px;
    color:#000;
    outline: none;
    box-shadow: 0 0 11px #ffad33;
}


#tombol{
	width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    background:  #6666ff;;
    border:none;
    color:#FFF;
    font-size: 14pt;
    outline:none;
    
}

#content_login_admin{
	background-color: white;
}



.section_footer{
	margin-top: 0%;
	width: 100%;
	height: 350px;
	background-color: #e0e0d1;
	box-shadow: 0px 0px 200px 100px rgba(0, 0, 0,0.2) inset;
}

.line_section_footer{
	background-color: #e68a00;
	width: 100%;
	height: 10px;
	margin-top: 0%;
}

footer{
	margin-top: 0%;
	width: 100%;
	height: 70px;
	background-color: #6666ff;
	color: white;
	font-style: Calibri;
	font-size: 24px;
	padding-top: 40px;
	text-align: center;
	box-shadow: 0px 0px 45px 45px rgba(0, 0, 0,0.2) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

.article_home{
   height:730px; 
   width:960px;
   position: relative;
   background-color: white;
   position: relative;
   display: inline-block;
}

.article_home_box{
	display: inline-block;
	position: relative;
	height: 230px;
	width: 430px;
	background-color: white;
	text-align: justify;
	padding: 2%;
	text-decoration: none;
	color: black;
	border-bottom: solid #6666ff 4px;
}


.article_home_box:hover{
	background-color: #e6e6e6;
    text-shadow : 5px 3px 5px rgba(0,0,0,0.3);
    border-bottom: solid #e68a00 4px;
    border-right: solid #e68a00 0.1px;
}

.judul_article_home_box{
	position: absolute;
	padding-top: 10px;
	width: 240px;
	height: 100px;
	left: 200px;
	top: 0px;
	text-align: left;
}

.gambar_artikel_home{
	position: absolute;
	left: 22px;
	top: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0,0.2);
	height: 140px;
	width: 160px;
	margin-right: 20px;
	text-align: center;
}

.gambar_artikel_home img{
	width: 160px;
	height: 140px;
}

.isi_article_home{
	position: absolute;
    display: inline;
    top: 160px;
    bottom: 5px;
    right: 15px;
    left: 15px;
}

#line{
	background-color: #e68a00;
	width: 99.8%;
	height: 10px;
}

.header_menu_admin{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding-top: 30px;
	transition: .5s background-color;
	font-family: Calibri;
	background-color: #e68a00;
	width: 95%; 
	height: 60px;
	font-size: 24px;
	margin: 3px 3px 3px 5px;
	text-align: center;
	position: relative;
	top:20px;
	border-top: solid #1f1f14 10px;
}


#daftar_profile {
	width: 100%;
	border-collapse: collapse;
	position: relative;
	top: 80px;
}

#daftar_profile td, #daftar_profile th {
	font-size: 1.1em;
	border: 1px solid #666;
	padding: 3px 7px 2px 7px;
	text-align: center;
}

#daftar_profile th {
	font-size: 1.1em;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #0047b3;
	color: #fff;
}

#daftar_profile tr.alternatif td {
	color: #000;
	background-color: #ebe7e0;
}

#daftar_table {
	width: 100%;
	border-collapse: collapse;
	position: relative;
	top: 80px;
}

#daftar_table td, #daftar_table th {
	font-size: 1.1em;
	border: 1px solid #666;
	padding: 3px 7px 2px 7px;
	text-align: left;
}

#daftar_table th {
	font-size: 1.1em;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #0047b3;
	color: #fff;
}

#daftar_table tr.alternatif td {
	color: #000;
	background-color: #ebe7e0;
}

.kotak_dalam_form{
	position: absolute;
	top: 40px;
	left: 50px;
	height: 50%;
	width: 80%;
}

form.input_data{
	width: 800px;
}